
	header.main-header {}
		header.main-header a { text-decoration: none }

	aside.main-sidebar 	{ position: absolute; top: 60px; bottom: 0; left: 0; width: 250px; background-color: #eef1f6;  }
		.main-sidebar a { text-decoration: none }

	.content-wrapper { margin-left: 250px; padding: 10px 30px; }


.adminMediaEdit {}
	.adminMediaEdit .gridArea { list-style:none; }
		.adminMediaEdit .gridArea .gridItem { display:inline-block; position:relative; vertical-align:bottom; width:150px; height:110px; padding:5px; border:1px solid #AAA; }
            .adminMediaEdit .gridArea .gridItem img{ width:100%; }
            .adminMediaEdit .gridArea .gridItem .controlPanel{ position:absolute; right:0; top:0; padding:2px; background-color:#FFF; }
		    .adminMediaEdit .gridArea .gridItem .controlPanel i{ cursor:pointer; }



#siteInfo { width:800px; margin:0 auto; margin-top:25px; }
    #siteInfo .iconBtn { cursor:pointer; }
    #siteInfo .iconBtn:hover { opacity:0.8; }

    #siteInfo .formItem .inputGroupItem { margin-bottom:5px; }

